<app-header></app-header>
<div class="container">
  <div class="table-container">
    <table mat-table class="mat-elevation-z8" [dataSource]="pageSlice">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let pokemon" (click)="getPokemonById(pokemon.id)"> {{pokemon.name|titlecase}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="tableService.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableService.displayedColumns;"></tr>
    </table>
    <mat-paginator 
      [length]="pokemonsList.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="OnPageChange($event)" 
      showFirstLastButtons>
    </mat-paginator>
  </div>
  
  <mat-card *ngIf="selectedPokemon" class="pokemon-card mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="pokemon-header-image"></div>
      <mat-card-title>{{ selectedPokemon.name |titlecase }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="selectedPokemon.image" alt="Pokemon Image">
    <mat-card-content>
      <p>
        This is a pokemon!
      </p>
    </mat-card-content>
  </mat-card>
</div>